# Ignote these files and folders - they are generated

/.doit.db.*
/__pycache__
/cache/*
/output/*

# /output is now a submodule that syncs to GitHub pages for
#         servig up the site

# Ignore the nikola-venv
/nikola-venv/*
