
html
{
	font-family: "Montserrat", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #002b36;
}

body
{
	color: #002b36;
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 24px;
    border-left: 0px;
}

article.post-text h1.entry-title a, article.post-link h1.entry-title a
{
	color: #657b83;
}

article > header { margin-top: 0em; }

.page-content
{
    padding-top: 1.0em;
    background-color: #fdf6e3;
    color: #657b83;
}

#header img
{
    padding-top: 0.0em;
    padding-bottom: 0.0em;
}


#header .logoimagewithtext
{
	position: relative;
	clear: both;
	padding: 1em 1em 1em 1em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	text-align: right;
	font-family: "Montserrat Black", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fdf6e3;
	text-shadow: 4px 4px 8px #002b36;
}

#header .headerH1
{
	font-size: 4em;
	font-weight: bold;
	font-variant: small-caps;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}

#header .headerH2
{
	font-size: 1.5em;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}

#titleauth
{
    margin-top: 0.0em;

}

.navlinks
{
	background-color: #002b36;
	font-family: "Montserrat Black", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
}

.navlinks a
{
	color: #93a1a1;
}


/* Colour Guides
    https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=82B1FF&secondary.color=FFAB40
    https://ethanschoonover.com/solarized/
*/

